nbproject/private/
build
nbbuild
dist
nbdist
nbactions.xml
nb-configuration.xml
basedatos
respaldo.backup
inventario.backup
reporte.zip
test
Registro de Cambios.docx
roadmap.docx
*.xcf
*.dat
*.log
*.form~
*.java~
*.odt#
*/*.orig